<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/Images/mountains.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Experience Hosting</title>
    <link rel="stylesheet" href="/static/Css/homepage/footer.css">
    <link rel="stylesheet" href="/static/Css/homepage/header.css">
    <link rel="stylesheet" href="/static/Css/experience.css">
    <link rel="stylesheet" href="/static/Css/homepage/feel.css">
    <link rel="stylesheet" href="/static/Css/homepage/mainmid2.css">
    <link rel="stylesheet" href="/static/Css/homepage/section4.css">
    <link rel="stylesheet" href="/static/Css/tourexplain.css">

</head>

<body>
    <main>
        <section class="navigation-section bg-white sticky">
            <div class="container text-black">
                <div class="item it">
                    <h5 class="j heading text-black">DISCOVER TRAVELS</h5>
                    <small class="j heading-small text-black">Travel With Experience </small>
                </div>
                <div class="item if">

                    <div class="i"> <a href="/homepage" class="link link-c text-black">home</a></div>
                    <div class="i"><a href="/hosting" class="link link-c text-black">destinations</a></div>
                    <div class="i"><a href="/inspiration" class="link link-c text-black">inspiration</a></div>
                    <div class="i"><a href="/tourslist" class="link link-c text-black">Trips</a></div>
                    <div class="i">
                        <form action="/logout" method="post">
                            <button type="submit" class="link link-c text-black btn-logout">Logout</button>
                        </form>
                    </div>

                </div>
                <!-- <div class="item">
                    <a href="/hosting" class="round-btn bg-black text-white">Become Host</a>
                </div> -->
            </div>
        </section>
        <section class="background-fixed1">
            <div class="row bg-transparent">
                <div class="col bg-transparent">
                    <div class="card bg-transparent">
                        <div class="card-body bg-transparent">
                            <h5 class="card-title text-white">Help the world rediscover Pakistan</h5>
                            <a href="/tourform" class="round-btn btn-black">Start Hosting</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="main-page">

            <div class="head-row">
                <div class="card width60 text-center text-white bg-transparent">
                    <h5 class="card-title">Tour</h5>
                    <p class="card-text">Lead guests through Pakistan’s rich culture, history and diverse landscapes
                        leaving them with an unforgettable adventure
                        of a lifetime.</p>
                </div>
            </div>
            <div class="main-rows1">
                <div class="text-row">
                    <div class="card text-center text-white bg-transparent">
                        <h5 class="card-title1">Host a tour</h5>
                        <p class="card-text1">Design an immersive excursion that truly captures the essence of Pakistan.
                            Scenic, adventure, religious or cultural: you
                            decide the best mix to entice your guests.</p>
                    </div>
                </div>


                <div class="img-row1">
                    <img class="img-right" src="/static/Images/tours1.jpg" alt="" srcset="">
                </div>
            </div>
            <div class="main-rows1">
                <div class="img-row1">
                    <img class="img-right" src="/static/Images/tours2.jpg" alt="" srcset="">
                </div>
                <div class="text-row">
                    <div class="card text-center text-white bg-transparent">
                        <h5 class="card-title1">Connect with travelers around the globe</h5>
                        <p class="card-text1">Appeal to a worldwide community of travelers looking to tread off the
                            beaten track and explore something new and
                            exciting.</p>
                    </div>
                </div>





            </div>
            <div class="main-rows1">
                <div class="text-row">
                    <div class="card text-center text-white bg-transparent">
                        <h5 class="card-title1">Differentiate yourself from the mainstream excursion</h5>
                        <p class="card-text1">Offer something unique to intrigue guests and grow your business through
                            referrals and reviews on the fastest growing
                            tourism marketplace in the country.</p>
                    </div>
                </div>
                <div class="img-row1">
                    <img class="img-right" src="/static/Images/tours3.jpg" alt="" srcset="">
                </div>
            </div>
        </section>
    </main>
    <section class="feel-section">
        <div class="post-heading-container center-feel">
            <h2 class="heading-mid post-head margin-head">
                Get started: Step-by-Step guide
            </h2>
        </div>
        <div class="booking">
            <div class="picture">
                <div class="position">
                    <p class="dream">TOUR</p>
                </div>
            </div>
            <div class="writings">
                <div class="single-writing">
                    <h4 class="single-write-head1 mb-2">Login, create tour</h4>
                    <p class="single-write-para1">
                        Create tour by adding information about
                        yourself and tour you are
                        providing. Make it more
                        appealing by adding high quality pictures.
                    </p>
                    <div class="write-hr"></div>
                </div>
                <div class="single-writing">
                    <div class="single-writing">
                        <h4 class="single-write-head1 mb-2">Tour review </h4>
                        <p class="single-write-para1">
                            Your tour will be reviewed and a member
                            from our team will reach out to you for a
                            demonstration prior to approval.
                        </p>
                        <div class="write-hr"></div>
                    </div>
                </div>
                <div class="single-writing">
                    <div class="single-writing">
                        <h4 class="single-write-head1 mb-2">Start earning through Discovers</h4>
                        <p class="single-write-para1">
                            Once approved, your tour will be published,
                            you’ll be notified! You can
                            start hosting your traveller
                        </p>
                        <div class="write-hr"></div>
                    </div>
                </div>
                <div class="single-writing">
                    <a href="/tourform" class="card-btn">Start Hosting</a>
                </div>
            </div>

        </div>

    </section>
    <section class="footer-section">

        <div class="containerss">
            <div class="link-group">
                <div class="links h"> <a href="#" class="a-head">Bestemmingam</a></div>
                <div class="links"> <a href="#" class="a-link">Africa</a> </div>
                <div class="links"> <a href="#" class="a-link">New zealand</a> </div>
                <div class="links"> <a href="#" class="a-link">Austarlia</a></div>
                <div class="links"> <a href="#" class="a-link">America</a></div>
            </div>

            <div class="link-group">
                <div class="links h"> <a href="#" class="a-head">theema's</a></div>
                <div class="links"> <a href="#" class="a-link">Documentation</a> </div>
                <div class="links"> <a href="#" class="a-link">Blog</a> </div>
                <div class="links"> <a href="#" class="a-link">Themes</a></div>
                <div class="links"> <a href="#" class="a-link">term of use</a></div>
            </div>

            <div class="link-group">
                <div class="links h"> <a href="#" class="a-head">Best of travel</a></div>
                <div class="links"> <a href="#" class="a-link">Road to Road</a> </div>
                <div class="links"> <a href="#" class="a-link">team huge</a> </div>
                <div class="links"> <a href="#" class="a-link">by air travel</a></div>
                <div class="links"> <a href="#" class="a-link">contact us</a></div>
            </div>

            <div class="link-group">
                <div class="links h"> <a href="#" class="a-head">News letter</a></div>
                <div class="links"> <a href="#" class="a-link">have subscription</a> </div>
                <div class="links colorl set">
                    <input type="email" name="email" id="" placeholder="Example@gmail.com">
                    <a>
                        <ion-icon name="mail-outline" size="large"></ion-icon>
                    </a>
                </div>
                <div class="links">
                    <a href="" class="colorl">
                        <ion-icon name="logo-twitter" size="large"></ion-icon>
                    </a> &nbsp;
                    <a href="" class="colorl">
                        <ion-icon name="logo-instagram" size="large"></ion-icon>
                    </a> &nbsp;
                    <a href="" class="colorl">
                        <ion-icon name="logo-whatsapp" size="large"></ion-icon>
                    </a>&nbsp;
                    <a href="" class="colorl">
                        <ion-icon name="logo-facebook" size="large"></ion-icon>
                    </a>
                </div>
            </div>

        </div>

        <div class="container2">
            <div class="footer-head">
                <h1 class="footer-heaading">
                    Breathe
                </h1>
            </div>


        </div>
        <div class="conatiner3">
            <div class="lefty footer-lower-left">
                <div class="lower-link row-two"> <a href="#" class="a-link">All right reserved &copy;2021</a>
                    <div class="writehr"></div>
                </div>
                <div class="lower-link row-two"> <a href="#" class="a-link">Best Travel</a>
                    <div class="writehr"></div>
                </div>
                <div class="lower-link row-two"> <a href="#" class="a-link">About us</a>
                    <div class="writehr"></div>
                </div>
                <div class="lower-link row-two"> <a href="#" class="a-link">Contact us</a> </div>

            </div>
            <div class="righty footer-lower-right">
                <a href="" class="logo-links">
                    <ion-icon name="bed-sharp" size="large"></ion-icon> &nbsp;
                </a>
                <a href="" class="logo-links">
                    <ion-icon name="logo-wechat" size="large"></ion-icon> &nbsp;
                </a>
                <a href="" class="logo-links">
                    <ion-icon name="logo-octocat" size="large"></ion-icon>&nbsp;
                </a>
                <a href="" class="logo-links">
                    <ion-icon name="paw-sharp" size="large"></ion-icon>
                </a>
            </div>

        </div>

    </section>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>