<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel-App</title>
    <link rel="shortcut icon" href="/static/Images/mountains.png">
    <link rel="stylesheet" href="/static/Css/homepage/grid_style.css">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- <link rel="stylesheet" href="/static/Css/homepage/style.css"> -->
    <link rel="stylesheet" href="/static/Css/homepage/header.css">
    <link rel="stylesheet" href="/static/Css/homepage/mainMid.css">
    <link rel="stylesheet" href="/static/Css/homepage/mainmid2.css">
    <link rel="stylesheet" href="/static/Css/homepage/slide.css">
    <link rel="stylesheet" href="/static/Css/homepage/section4.css">
    <link rel="stylesheet" href="/static/Css/homepage/post.css">
    <link rel="stylesheet" href="/static/Css/homepage/feel.css">
    <link rel="stylesheet" href="/static/Css/homepage/footer.css">
</head>

<body>
    <section class="header">
        <div class="container">
            <div class="item it">
                <h5 class="j heading">DISCOVER TRAVELS</h5>
                <small class="j heading-small">Travel With Experience </small>
            </div>
            <div class="item if">

                <div class="i"> <a href="/homepage" class="link link-c">home</a></div>
                <div class="i"><a href="/hosting" class="link link-c">destinations</a></div>
                <div class="i"><a href="/inspiration" class="link link-c">inspiration</a></div>
                <div class="i"><a href="/tourslist" class="link link-c">Trips</a></div>
                <div class="i">
                    <form action="/logout" method="post">
                        <button type="submit" class="link link-c text-black btn-logout">Logout</button>
                    </form>
                </div>

            </div>
            <div class="item">
                <a href="/optionhost" class="round-btn">Become Host</a>
            </div>

        </div>

        <div class="second-container">
            <div class="container-2">
                <h1 class="heading-main">
                    DISCOVER
                </h1>
            </div>
        </div>



        <!-- <div class="third-container">
            <div class="container-3">
                <div class="item2 i22">
                    <div class="i2">
                        <div class="outselect">
                            <label for="standard-select" class="labels">From where</label>
                            <div class="select">
                                <select id="standard-select">
                                    <option value="Option 1" class="btn">Lahore </option>
                                    <option value="Option 2 " class="btn">Karachi </option>
                                    <option value="Option 3" class="btn">Islamabad </option>
                                    <option value="Option 4" class="btn">Multan </option>
                                    <option value="Option 5" class="btn">Peshawar </option>
                                    <option value="Option length" class="btn">Other </option>
                                    <span class="focus"></span>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="i2">
                        <div class="outselect">
                            <label for="standard-select" class="labels">Where to</label>
                            <div class="select">
                                <select id="standard-select">
                                    <option value="Option 1" class="btn">Gilgit </option>
                                    <option value="Option 2 " class="btn">Sakardo </option>
                                    <option value="Option 3" class="btn">Naran </option>
                                    <option value="Option 4" class="btn">Muree </option>
                                    <option value="Option 5" class="btn">Malam jabba </option>
                                    <option value="Option length" class="btn">Other </option>
                                    <span class="focus"></span>
                                </select>
                            </div>    
                        </div>
                    </div>
                    <div class="i2">
                        <div class="outselect">
                            <label for="standard-select" class="labels">Class</label>
                            <div class="select">
                                <select id="standard-select">
                                    <option value="Option 1" class="btn">Economy </option>
                                    <option value="Option 2 " class="btn">Exective </option>
                                    <option value="Option 3" class="btn">Business </option>
                                    <option value="Option length" class="btn">Other </option>
                                    <span class="focus"></span>
                                </select>
                            </div> 
                        </div>   
                    </div>
                    <div class="i2">
                        <div class="inselect">
                            <a type="button" class="btn-search">Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>              -->

    </section>



    <section class="mid">

        <div class="container-mid">

            <h2 class="heading-mid">
                We create your dream vacation
            </h2>
            <div class="divheading-mid5">
                <h5 class="heading-mid5">
                    Plan your trip, Design your dream tour and travel on your own terms through Discovers
                </h5>
            </div>

        </div>

    </section>

    <section class="section-mid2">
        <div class="row">

            <div class="col-1-3">
                <div class="col-1-3-item">
                    <img src="/static/Images/icons8-rain-cloud-160.png" alt="" class="image4">
                    <h4 class="head4">Mountains</h4>
                    <p class="para">Tour over the mountains. Take smooth breathe. Enjoy servives from us at very low
                        cost</p>
                </div>
                <div class="col-1-3-item">
                    <img src="/static/Images/icons8-building-64.png" alt="" class="image4">
                    <h4 class="head4">Hotels</h4>
                    <p class="para">Going for tour? Don't have place to stay. Don't Worry, you have a lot of places to
                        stay on your choice.</p>
                </div>
            </div>

            <div class="col-1-3 center">
                <div class="centerimage">
                    <p class="dream"><span class="spanhead">D</span>REA<span class="spanhead">M</span></p>
                </div>
            </div>

            <div class="col-1-3">
                <div class="col-1-3-item">
                    <img src="/static/Images/icons8-travel-diary-100.png" alt="" class="image4">
                    <h4 class="head4">Traveling</h4>
                    <p class="para">Wanna go for tour. We will provide you best travel services. You will reach to your
                        destination. </p>
                </div>
                <div class="col-1-3-item">
                    <img src="/static/Images/icons8-handle-with-care-64.png" alt="" class="image4">
                    <h4 class="head4">Take care</h4>
                    <p class="para">Throughout tour we will provide care to you. Everything to need would provide by us.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="sildeSection">
        <div class="heading-slide">
            <div class="centerimage">
                <!-- <p class="dream d2" ><span class="spanhead s2">A</span>frica<span class="spanhead s2">a</span></p> -->
            </div>
        </div>

        <div class="slidershow middle">
            <h2 class="heading-mid globe">
                destinations all over the Pakistan
            </h2>


            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <input type="radio" name="r" id="r5">
                <div class="slide s1">
                    <img src="/static/Images/1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/static/Images/2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/static/Images/3.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/static/Images/4.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/static/Images/5.jpg" alt="">
                </div>
            </div>

            <div class="navigation flex">
                <label for="r1" class="bar flex-item">Kashmir</label>
                <label for="r2" class="bar flex-item">Gilgat</label>
                <label for="r3" class="bar flex-item">Hunza</label>
                <label for="r4" class="bar flex-item">Sindh</label>
                <label for="r5" class="bar flex-item">Punjab</label>
            </div>
        </div>
    </section>



    <section class="section4">
        <div class="card-container">
            <div class="item-card">
                <h2 class="card-heading">
                    Curated Travels and Experiences!
                </h2>
            </div>
            <div class="item-card">
                <p class="card-para">
                    Discovers has been visited month
                    Plan Your Holidays and make journey cheaper!
                    Enjoy at the Best Price and Enjoy Your Holidays.
                </p>
            </div>
            <div class="item-card">
                <a href="/inspiration" class="card-btn">Discover More</a>
            </div>
        </div>
    </section>


    <section class="post-section">
        <div class="post-heading-container">
            <h2 class="heading-mid post-head">
                Best of Discovers news
            </h2>
        </div>
        <div class="single">
            <div class="left">
                <img src="/static/Images/pic5.jpg" alt="" style="width: 225px; height: 250px;">
            </div>
            <div class="right it-right">
                <div class="right-item">
                    <h3 class="right-heading">Arthiechure Advantage in Lahore</h3>
                </div>
                <div class="right-item">
                    <p class="post-para">
                        Travels has been visited month
                        Plan Your Holidays and Fly Cheaper! This Summer
                        Fly at the Best Price and Enjoy Your Holidays
                        and Fly Cheaper! This Summer
                        Fly at the Best Price and Enjoy Your
                    </p>
                </div>
                <div class="right-item one-two">
                    <div class="item-one">
                        <h3 class="right-heading">
                            <ion-icon name="time-outline" class="time"></ion-icon>
                            07 Jan 2021
                        </h3>

                    </div>
                    <div class="item-two">
                        <h3 class="right-heading">
                            Location :Sawat
                        </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="single">

            <div class="left">
                <img src="/static/Images/pic6.jpg" alt="" style="width: 225px; height: 250px;">
            </div>
            <div class="right it-right">
                <div class="right-item">
                    <h3 class="right-heading">Arthiechure Advantage in Lahore</h3>
                </div>
                <div class="right-item">
                    <p class="post-para">
                        Travels has been visited month
                        Plan Your Holidays and Fly Cheaper! This Summer
                        Fly at the Best Price and Enjoy Your Holidays
                        and Fly Cheaper! This Summer
                        Fly at the Best Price and Enjoy Your
                    </p>
                </div>
                <div class="right-item one-two">
                    <div class="item-one">
                        <h3 class="right-heading">
                            <ion-icon name="time-outline" class="time"></ion-icon>
                            22 dec 2020
                        </h3>

                    </div>
                    <div class="item-two">
                        <h3 class="right-heading">
                            Location : Lahore
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="single">
            <div class="left">
                <img src="/static/Images/pic7.jpg" alt="" style="width: 225px; height: 250px;">
            </div>
            <div class="right it-right">
                <div class="right-item">
                    <h3 class="right-heading">Arthiechure Advantage in Skardo</h3>
                </div>
                <div class="right-item">
                    <p class="post-para">
                        Travels has been visited month
                        Plan Your Holidays and Fly Cheaper! This Summer
                        Fly at the Best Price and Enjoy Your Holidays
                        and Fly Cheaper! This Summer
                        Fly at the Best Price and Enjoy Your
                    </p>
                </div>
                <div class="right-item one-two">
                    <div class="item-one">
                        <h3 class="right-heading">
                            <ion-icon name="time-outline" class="time"></ion-icon>
                            14 feb 2020
                        </h3>

                    </div>
                    <div class="item-two">
                        <h3 class="right-heading">
                            Location : Skardo
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="feel-section">
        <div class="post-heading-container center-feel">
            <h2 class="heading-mid post-head margin-head ">
                Lets make your dream vacations, together
            </h2>
        </div>
        <div class="booking">
            <div class="picture">
                <div class="position">
                    <p class="dream">FEEL</p>
                </div>
            </div>
            <div class="writings">
                <div class="single-writing">
                    <h4 class="single-write-head">TO BROWSE </h4>
                    <p class="single-write-para">
                        Select a category that best suits your interest.
                        Use filters to customize and refine your
                        search.
                    </p>
                    <div class="write-hr"></div>
                </div>
                <div class="single-writing">
                    <div class="single-writing">
                        <h4 class="single-write-head">TO BOOK </h4>
                        <p class="single-write-para">
                            Choose from available time slots and click 'Book'
                            next to the one that suits you. Then
                            proceed to payment.
                        </p>
                        <div class="write-hr"></div>
                    </div>
                </div>
                <div class="single-writing">
                    <div class="single-writing">
                        <h4 class="single-write-head">FOLLOW YOUR PATH </h4>
                        <p class="single-write-para">
                            Meet your experience host at the time and venue
                            of your experience and get started
                            Rediscovering Pakistan!
                        </p>
                        <div class="write-hr"></div>
                    </div>
                </div>
                <div class="single-writing">
                    <a href="/inspiration" class="card-btn">Book Tour</a>
                </div>
            </div>

        </div>

    </section>

    <section class="footer-section">

        <div class="containerss">
            <div class="link-group">
                <div class="links h"> <a href="#" class="a-head">Bestemmingam</a></div>
                <div class="links"> <a href="#" class="a-link">Africa</a> </div>
                <div class="links"> <a href="#" class="a-link">New zealand</a> </div>
                <div class="links"> <a href="#" class="a-link">Austarlia</a></div>
                <div class="links"> <a href="#" class="a-link">America</a></div>
            </div>

            <div class="link-group">
                <div class="links h"> <a href="#" class="a-head">theema's</a></div>
                <div class="links"> <a href="#" class="a-link">Documentation</a> </div>
                <div class="links"> <a href="#" class="a-link">Blog</a> </div>
                <div class="links"> <a href="#" class="a-link">Themes</a></div>
                <div class="links"> <a href="#" class="a-link">term of use</a></div>
            </div>

            <div class="link-group">
                <div class="links h"> <a href="#" class="a-head">Best of travel</a></div>
                <div class="links"> <a href="#" class="a-link">Road to Road</a> </div>
                <div class="links"> <a href="#" class="a-link">team huge</a> </div>
                <div class="links"> <a href="#" class="a-link">by air travel</a></div>
                <div class="links"> <a href="#" class="a-link">contact us</a></div>
            </div>

            <div class="link-group">
                <div class="links h"> <a href="#" class="a-head">News letter</a></div>
                <div class="links"> <a href="#" class="a-link">have subscription</a> </div>
                <div class="links colorl set">
                    <input type="email" name="email" id="" placeholder="Example@gmail.com">
                    <a>
                        <ion-icon name="mail-outline" size="large"></ion-icon>
                    </a>
                </div>
                <div class="links">
                    <a href="" class="colorl">
                        <ion-icon name="logo-twitter" size="large"></ion-icon>
                    </a> &nbsp;
                    <a href="" class="colorl">
                        <ion-icon name="logo-instagram" size="large"></ion-icon>
                    </a> &nbsp;
                    <a href="" class="colorl">
                        <ion-icon name="logo-whatsapp" size="large"></ion-icon>
                    </a>&nbsp;
                    <a href="" class="colorl">
                        <ion-icon name="logo-facebook" size="large"></ion-icon>
                    </a>
                </div>
            </div>

        </div>

        <div class="container2">
            <div class="footer-head">
                <h1 class="footer-heaading">
                    Breathe
                </h1>
            </div>


        </div>
        <div class="conatiner3">
            <div class="lefty footer-lower-left">
                <div class="lower-link row-two"> <a href="#" class="a-link">All right reserved &copy;2021</a>
                    <div class="writehr"></div>
                </div>
                <div class="lower-link row-two"> <a href="#" class="a-link">Best Travel</a>
                    <div class="writehr"></div>
                </div>
                <div class="lower-link row-two"> <a href="#" class="a-link">About us</a>
                    <div class="writehr"></div>
                </div>
                <div class="lower-link row-two"> <a href="#" class="a-link">Contact us</a> </div>

            </div>
            <div class="righty footer-lower-right">
                <a href="" class="logo-links">
                    <ion-icon name="bed-sharp" size="large"></ion-icon> &nbsp;
                </a>
                <a href="" class="logo-links">
                    <ion-icon name="logo-wechat" size="large"></ion-icon> &nbsp;
                </a>
                <a href="" class="logo-links">
                    <ion-icon name="logo-octocat" size="large"></ion-icon>&nbsp;
                </a>
                <a href="" class="logo-links">
                    <ion-icon name="paw-sharp" size="large"></ion-icon>
                </a>
            </div>

        </div>

    </section>

    <!-- <section class="header">
        <div class="row">

            <div class="col-1-3">
                <div class="j">j1</div>
                <div class="j">j2</div>
            </div>
            <div class="col-1-3">

                <div class="i">i1</div>
                <div class="i">i2</div>
                <div class="i">i3</div>
                <div class="i">i4</div>
                <div class="i">i5</div>

            </div>
            <div class="col-1-3">
                item3
            </div>

        </div>

    </section> -->




    <!-- <div class="row">

        <div class="col-1-of-2">
            Home Page
        </div>
        <div class="col-1-of-2">
            Home Page
        </div>

    </div>

    <div class="container">
        <div class="item">1</div>
        <div class="item i2">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
        <div class="item">5</div>
    </div> -->

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>